/*main.css for AS-COMPONENT*/

/*FONTS*/
/* Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*./ Roboto */
/*./FONTS*/

* {
	font-family: "Roboto";
}

div {
	outline: 0px dotted red;
}

.jumbotron {
	background-color: transparent;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

/*HEADER*/
header .navbar {
    min-height: 92px;
    margin-bottom: 0;
}

header .navbar .navbar-brand img {
	width: 63.5%;
}

header .navbar ul.nav {
	margin-top: 41px;
	font-weight: bold;
	font-size: 1.08em;
}

header .navbar ul.nav li > a {
	color: #010A24;
}

header .navbar ul.nav li.active > a,
header .navbar ul.nav li > a:focus, 
header .navbar ul.nav li > a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #161238;
}

header .navbar .container {
	position: relative;
}

header .navbar .contact-phones {
	position: absolute;
	right: 16px;
	bottom: 5px;
}

header .navbar .contact-phones ul {
	list-style-type: none;
	font-weight: bold;
	font-size: 1.08em;
	line-height: 1.75em;
}

header .navbar .contact-phones ul li,
header .navbar .contact-phones ul li a {
	color: #161238;
}

header .navbar .contact-phones ul li a:hover,
header .navbar .contact-phones ul li a:focus {
	text-decoration: none;
}

@media screen and (min-width: 1280px) and (max-width: 3850px) {
	header .navbar ul.nav {
		position: relative;
		left: -28px;
	}
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	header .main-menu {
	    background-color: #fff;
	}

	header .navbar {
	    min-height: 70px;
	}

	header .navbar .navbar-brand {
		width: 80%;
	}

	header .navbar .navbar-brand img {
		width: 79%;
		margin-left: 15px;
	}

	header .navbar	.navbar-toggle {
		margin-top: 15px;
		margin-right: 17px;
	}

	header .navbar	.navbar-toggle:focus {
	    outline: none;
	    border: 0px solid transparent;
	}

	header .navbar	.navbar-toggle span.icon-bar {
		background-color: #004EAD;
		height: 4px;
	}

	header .navbar ul.nav {
		text-transform: none;
		padding-left: 50px;
		padding-bottom: 30px;
	}

}

@media screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and (min-width: 360px) and (max-width: 768px) {

}

@media screen and (min-width: 320px) and (max-width: 360px) {

}
/*./HEADER*/

/*CONTENT*/
/*banner-main-section*/
.banner-main-section .jumbotron {
	background: url(../images/banner-main.jpg) center center no-repeat;
    background-size: cover;
    padding-top: 9.5%;
    padding-bottom: 9.1%;
}

.banner-main-section .banner-content {
	padding-left: 40px;
}

.banner-main-section .banner-content h2 {
	margin-top: 0;
	margin-bottom: 13px;
	font-weight: bold;
	font-size: 2.8em;
	line-height: 1.18em;
}

.banner-main-section .banner-content p {
	font-size: 1.68em;
	line-height: 1.3em;
}

.banner-main-section .banner-content h2,
.banner-main-section .banner-content p {
	color: #FDFEFE;
}

.banner-main-section .banner-content button.modal-toggle {
	margin-top: 14px;
	border-radius: 4px;
	border-width: 0;
	background-color: #F6FDFF;
	color: #161238;
	padding: 12px 26px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.15em;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.banner-main-section .jumbotron {
		background: url(../images/banner-main-MOBILE.jpg) center center no-repeat;
	    background-size: cover;
	    padding-top: 49%;
	    padding-bottom: 55%;
	}

	.banner-main-section .banner-content {
		text-align: center;
		padding-left: 15px;
	}

	.banner-main-section .banner-content h2 {
		font-size: 1.85em;
		line-height: 1.18em;
	}

	.banner-main-section .banner-content p {
		font-size: 1.0em;
		line-height: 1.3em;
	}

	.banner-main-section .banner-content button.modal-toggle {
		margin-top: 39px;
    	padding: 12px 33px;
    	font-size: 1.0em;
	}
}
/*banner-main-section*/

/*text-section-common*/
.text-section h2 {
	margin-top: 100px;
	margin-bottom: 60px;
	font-weight: bold;
	font-size: 2.40em;
	color: #161238;
}

.text-section p {
	color: #161238;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.text-section h2 {
		margin-top: 42px;
		margin-bottom: 30px;
		font-size: 1.85em;
		text-align: center;
	}
}
/*./text-section-common*/

/*text-section-decisions*/
.text-section.decisions {
	padding-bottom: 18px;
}

.text-section.decisions .tile {
	position: relative;
	margin-bottom: 67px;
}

.text-section.decisions .tile img {
	width: 90%;
}

.text-section.decisions .tile .tile-text-wrapper {
	position: absolute;
	left: 43px;
	bottom: 18px;
	color: #FDFEFE;
}

.text-section.decisions .tile.text-center .tile-text-wrapper {
	left: 60px;
}

.text-section.decisions .tile.text-right .tile-text-wrapper {
	left: 75px;
}

.text-section.decisions .tile .tile-text-wrapper h3 {
	font-weight: bold;
	font-size: 2.2em;
	line-height: 1.3em;
}

.text-section.decisions .tile.engineering .tile-text-wrapper h3 {
	margin-bottom: 190px;
}

.text-section.decisions .tile.railway-transport .tile-text-wrapper h3 {
	margin-bottom: 170px;
}

.text-section.decisions .tile.steel-tapes-tools .tile-text-wrapper h3 {
	margin-bottom: 125px;
}

.text-section.decisions .tile.nku-produsing .tile-text-wrapper h3 {
	margin-bottom: 190px;
}

.text-section.decisions .tile.automation .tile-text-wrapper h3 {
	margin-bottom: 150px;
}

.text-section.decisions .tile.kru-produsing .tile-text-wrapper h3 {
	margin-bottom: 190px;
}

.text-section.decisions .tile .tile-text-wrapper p {
	font-size: 0.9em;
	line-height: 1.95em;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.text-section.decisions {
	    padding-bottom: 0px;
	}

	.text-section.decisions .tile img {
		width: 100%;
	}

	.text-section.decisions .tile.visible-xs {
	    margin-bottom: 0px;
	}

	.text-section.decisions .tile.text-center .tile-text-wrapper {
		left: 0px;
		width: 100%;
	}

	.text-section.decisions .tile .tile-text-wrapper h3 {
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 1.1em;
		line-height: 1.2em;
	}

	.text-section.decisions .tile.engineering .tile-text-wrapper h3 {
		margin-bottom: 67px;
	}

	.text-section.decisions .tile.railway-transport .tile-text-wrapper h3 {
		margin-bottom: 55px;
	}

	.text-section.decisions .tile.steel-tapes-tools .tile-text-wrapper h3 {
		margin-bottom: 37px;
	}

	.text-section.decisions .tile.nku-produsing .tile-text-wrapper h3 {
		margin-bottom: 75px;
	}

	.text-section.decisions .tile.automation .tile-text-wrapper h3 {
		margin-bottom: 46px;
	}

	.text-section.decisions .tile.kru-produsing .tile-text-wrapper h3 {
		margin-bottom: 67px;
	}
}
/*./text-section-decisions*/

/*text-section-advantages*/
.text-section.advantages {
	padding-top: 5.1%;
	padding-bottom: 5.0%;
	background-color: #004EAD;
	color: #FDFEFE;
}

.text-section.advantages .certificate {
	padding-left: 50px;
}

.text-section.advantages .world-wide {
	padding-right: 35px;
}

.text-section.advantages img {
	margin-bottom: 25px;
}

.text-section.advantages span {
	font-size: 1.1em;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.text-section.advantages {
		padding-bottom: 0;
		background-color: transparent;
	}

	.text-section.advantages h2 {
		margin-top: 21px;
    	margin-bottom: 30px;
    	color: #161238;
	}

	.text-section.advantages .certificate {
		padding-left: 15px;
	}

	.text-section.advantages .world-wide {
		padding-right: 15px;
	}

	.text-section.advantages img {
		margin-bottom: 8px;
		width: 23%;
	}

	.text-section.advantages span {
		display: inline-block;
		margin-bottom: 45px;
		font-size: 1.1em;
		color: #161238;
	}
}
/*./text-section-advantages*/

/*text-section-about-us*/
.text-section.about-us h2 {
	margin-top: 90px;
}

.text-section.about-us p {
	margin-left: 60px;
	margin-bottom: 25px;
	font-size: 1.13em;
	line-height: 1.5em;
}

.text-section.about-us img {
	width: 53.5%;
}

.text-section.about-us .text-center p {
	margin-top: 15px;
    margin-left: 0px;
    margin-bottom: 0px;
    font-size: 0.85em;
	line-height: 1.7em;
}
/*./text-section-about-us*/

/*text-section-map*/
.text-section.map {
	padding-bottom: 6.1%;
}

.text-section.map h2 {
	margin-top: 90px;
}

.text-section.map p {
	margin-top: 20px;
	margin-left: 80px;
	margin-bottom: 5px;
	font-size: 1.13em;
	line-height: 1.6em;
}

.text-section.map p:first-child {
	margin-top: 70px;
}

.text-section.map p:last-child {
	margin-top: 5px;
}

.text-section.map p a {
	color: #161238;
}

.text-section.map p a:hover,
.text-section.map p a:focus {
	text-decoration: none;
}

.text-section.map img {
	width: 78%;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.text-section.map {
	    padding-bottom: 7.3%;
	}

	.text-section.map h2 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.text-section.map p {
		margin-top: 30px;
		margin-left: 0px;
	}

	.text-section.map p:first-child {
		margin-top: 30px;
	}

	.text-section.map p:last-child {
		margin-top: 30px;
	}
}
/*./text-section-map*/

/*image-section-map*/
.image-section.map {
/*	padding-top: 47%;
	padding-bottom: 20%;
	background: url(../img/map.png) center center no-repeat;
	background-size: cover;	*/
}
/*./image-section-map*/

/*solid-blue-line-section*/
.solid-blue-line {
	height: 5px;
	background-color: #004EAD;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.solid-blue-line {
		margin-top: 39px;
	}
}
/*./solid-blue-line-section*/
/*./CONTENT*/

/*FOOTER*/
footer {
	padding-top: 20px;
	padding-bottom: 40px;
}

footer img {
	margin-bottom: 10px;
	width: 14%;
}

footer span {
	font-size: 0.7em;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	footer img {
		margin-left: 15px;
		width: 46.5%;
	}

	footer span {
		margin-left: 15px;
		font-size: 0.75em;
	}
}
/*./FOOTER*/

/*MODAL*/
/*banner-main-section-modal widget*/
.banner-main-section .modal .modal-dialog {
    width: 322px;
    margin: 150px auto;   
}

.banner-main-section .modal .modal-content {
	border-radius: 0px;
}

.banner-main-section .modal .modal-body {
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #004EAD;
	color: #FDFEFE;
}

.banner-main-section .modal .modal-body h3 {
	text-transform: uppercase;
	margin-top: 19px;
	margin-bottom: 25px;
    font-size: 1.1em;
}

.banner-main-section .modal .modal-body button.close-button {
	position: absolute;
	top: 10px;
	right: 5px;
	background: url(../img/close-icon.png) center center no-repeat;
	border-width: 0px;
	height: 15px;
	width: 15px;
}

.banner-main-section .modal .modal-body button.close-button:focus {
	outline: none;
}

.banner-main-section .modal .modal-body input,
.banner-main-section .modal .modal-body textarea {
	width: 100%;
	color: #161238;
	font-size: 0.85em;
	resize: none;
}

.banner-main-section .modal .modal-body textarea {
	font-size: 0.88em;
	resize: none;
	background-color: #E9EEFE;
}

.banner-main-section .modal .modal-body input[type='text'],
.banner-main-section .modal .modal-body input[type='email'],
.banner-main-section .modal .modal-body textarea {
	padding: 8px 10px 5px 10px;
	margin-bottom: 20px;
	border-radius: 3px;
	border-width: 0px;
}

.banner-main-section .modal .modal-body .text-left {
	padding-top: 2px;
	padding-bottom: 20px;
}

.banner-main-section .modal .modal-body input[type='checkbox'] {
	width: inherit;
	position: relative;
	top: -15px;
}

.banner-main-section .modal .modal-body label {
	font-size: 1.0em;
	line-height: 1.25em;
}

.banner-main-section .modal .modal-body input[type='submit'],
.banner-main-section .modal .modal-body input[type='button'] {
	margin-bottom: 15px;
	text-transform: uppercase;
	width: inherit;
	color: #161238;
	font-size: 0.89em;
	font-weight: bold;
	padding: 12px 18px;
	border-radius: 3px;
	border-width: 0px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.banner-main-section .modal .modal-body .text-left {
		position: relative;
		margin-bottom: 40px;
	}

	.banner-main-section .modal .modal-body input[type='submit'],
	.banner-main-section .modal.success .modal-body input[type='button'] {
		background-color: #FDFEFE;
		-webkit-appearance: none;
	}

	.banner-main-section .modal .modal-body input[type='checkbox'] {
		position: absolute;
		top: 2px;
	}

	.banner-main-section .modal .modal-body label {
		position: absolute;
		left: 20px;
    	top: 5px;
	}

	.banner-main-section .modal .modal-body .text-left input[type='checkbox'],
	.banner-main-section .modal .modal-body .text-left label {
		display: inline;
	}
}
/*./banner-main-section-modal widget*/

/*banner-main-section-modal success*/
.banner-main-section .modal.success .modal-dialog {
    width: 270px;
    margin: 230px auto;
}

.banner-main-section .modal.success .modal-body button.close-button {
    position: absolute;
    top: 6px;
    right: 2px;
    background: url(../img/close-icon.png) center center no-repeat;
    background-size: 45%;
    border-width: 0px;
    height: 10px;
    width: 10px;
}

.banner-main-section .modal.success .modal-body h4 {
	margin-top: 18px;
    margin-bottom: 21px;
    font-size: 1.4em;
}

.banner-main-section .modal.success .modal-body p {
	margin-bottom: 37px;
    font-size: 1.1em;
}

.banner-main-section .modal.success .modal-body input[type='button'] {
	margin-bottom: 15px;
	padding: 11px 35px;
}
/*./banner-main-section-modal success*/
/*./MODAL*/

/*MISC*/

/*form outline disable*/
form > input:focus, form > textarea:focus, button:focus {
	outline: none;
	border: 1px solid #632832;
}
/*.*form outline disable*/

.padding-l0-r0 {
	padding-left: 0px;
	padding-right: 0px;
}

.padding-l0 {
	padding-left: 0px;
}

.padding-r0 {
	padding-right: 0px;
}

.shadow {
	box-shadow: 0 0 10px rgba(0,0,0,0.4)
}

.uppercase {
	text-transform: uppercase;
}

.fifty-percent-width-trick {
	width: 50%;
}

.float-left-trick {
	float: left;
}

.float-right-trick {
	float: right;
}

.clear-both-trick {
	clear: both;
}
/*./MISC*/